﻿@using InternetBanking.Core.Application.ViewModels.BankAccount;
@using InternetBanking.Core.Application.Helpers;
@model SaveBankAccountViewModel
@{
    ViewData["Title"] = "BankAccount Page";
}
<div class="card bg-dark text-white" style="border-radius: 1rem;">
    <div class="card-body p-5">
        <h3 class="fw-bold mb-4 text-uppercase text-center">Agregar Cuenta</h3>

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <form method="post" asp-controller="User" asp-action="CreateAccount">

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-outline form-white">
                        <input asp-for="InitialAmmount" type="text" class="form-control form-control-lg" />
                        <label asp-for="InitialAmmount" class="form-label">Monto Inicial</label>
                        <span asp-validation-for="InitialAmmount" class="text-danger"></span>
                    </div>
                </div>
                @{
                    string Iduser = ViewBag.IdUser;
                }
                <input type="hidden" asp-for="IdUser" value="@Iduser" />
                <input type="hidden" asp-for="IsMainAccount" value="@false" />

                <div class="text-center">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Crear cuenta</button>
                </div>
        </form>
    </div>
</div>