@using InternetBanking.Core.Application.ViewModels.PayLoan;
@model SavePayLoanViewModel;

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <form method="post" enctype="multipart/form-data" asp-controller="Pay" asp-action="Express">

                                <h2 class="fw-bold mb-2 text-uppercase">Pago express</h2>

                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                @if(ViewBag.Error != null)
                                {
                                    <span class="text-danger">@ViewBag.Error</span> 
                                }
                                <div class="form-outline form-white mb-4">
                                    <input asp-for="IdLoan" type="text" class="form-control form-control-lg" />
                                    <label asp-for="IdLoan" class="form-label">Numero de cuenta</label>
                                    <span asp-validation-for="IdLoan" class="text-danger"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="Amount"class="form-control form-control-lg" />
                                    <label asp-for="Amount" class="form-label">Monto a pagar</label>
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label asp-for="IdAccountPaid" class="form-label">Cuenta origen</label>
                                    <select asp-for="IdAccountPaid">
                                        <option disabled>Selecciona una cuenta origen</option>
                                        @foreach (var account in ViewBag.Accounts)
                                        {
                                            <option value="@account.Code">
                                                @account.Code
                                            </option>
                                        }
                                    </select>
                                    <span asp-validation-for="IdAccountPaid" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="Id" />

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Pagar</button>
                            </form>
                        </div>

                     

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>